<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;900&display=swap"
      rel="stylesheet"
    />
    <title>Document</title>
  </head>
  <body style="text-align: center">
    <script
      src="https://code.iconify.design/iconify-icon/1.0.1/iconify-icon.min.js"
    ></script>

    <table
      role="presentation"
      style="border-collapse: collapse; background-color: #f2f5f8; width: 100%"
    >
      <tr>
        <td align="center">
          <img
            src="https://u-send.s3.eu-west-2.amazonaws.com/usend-logo.png"
            alt=""
            style="margin-top: 50px"
          />
        </td>
      </tr>

      <tr>
        <td align="center">
          <div
            style="
              font-family: 'Inter', sans-serif;
              max-width: 602px;
              margin: 30px;
              background-color: white;
              padding: 30px;
            "
          >
            <h3
              style="
                color: #333333;
                font-size: 16px;
                font-weight: 400;
                line-height: 34px;
                text-align: left;
              "
            >
              Hi
              {{name}},
            </h3>
            <h3
              style="
                text-align: left;
                color: #333333;
                font-size: 16px;
                font-weight: 400;
                line-height: 34px;
              "
            >
              Thank you for your trust in
              <span style="font-weight: 600">U-send!</span>
            </h3>

            <div style="text-align: center">
              <h2
                style="
                font-size: 24px;
                font-weight: 500;
                line-height: 34px;
                color:#5b6aff
                "
              >Your store is connected successfully</h2>
            </div>

            <h3
              style="
                text-align: left;
                color: #333333;
                font-size: 16px;
                font-weight: 400;
                line-height: 34px;
              "
            >
              If you have any query, please contact us at
              <a
                href="info@u-sendfulfillment.com"
                style="color: #2d8fff; margin-left: 5px"
              >
                info@u-sendfulfillment.com
              </a>
            </h3>

            <h4
              style="
                color: #333333;
                font-size: 16px;
                font-weight: 600;
                text-align: left;
              "
            >
              Let's grow your business together.
            </h4>
            <h3
              style="
                color: #333333;
                font-size: 14px;
                font-weight: 400;
                text-align: left;
              "
            >
              This link will expire in 24 hours.

            </h3>
            <table style="border-collapse: collapse; width: 100%">
              <tr style="border-top: 50px solid white">
                <td align="left">
                
                </td>
                <td align="right" style="width: 70%">
                  <span><iconify-icon
                      icon="akar-icons:twitter-fill"
                      style="color: #91a4b8"
                      width="24"
                      height="24"
                    ></iconify-icon></span>
                  <span style="border-left: 25px solid white"><iconify-icon
                      icon="el:facebook"
                      style="color: #91a4b8"
                      width="24"
                      height="24"
                    ></iconify-icon></span>
                  <span style="border-left: 25px solid white"><iconify-icon
                      icon="akar-icons:linkedin-box-fill"
                      style="color: #91a4b8"
                      width="24"
                      height="24"
                    ></iconify-icon></span>
                </td>
              </tr>
            </table>
          </div>
        </td>
      </tr>
    </table>
  </body>
</html>